body{
    background-image: url(./components//images/Logo_breaking_bad.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif
}
.app{
    max-width: 1200px;
    height: auto;
}